@charset "UTF-8";

.badge-custom {
	background-image: linear-gradient(230deg, #EF5350 0%, #E53935 100%);
}

.table-custom thead tr th:nth-child(1) {
	width: 5%;
}
.table-custom thead tr th:nth-child(3) {
	width: 9%;
}
.table-custom thead tr th:nth-child(4) {
	width: 10%;
}
.table-custom thead tr th:nth-child(5) {
	width: 7%;
}

.card-custom {
	box-shadow: 6px 11px 41px -28px #B5C4D6;
}

.center-custom {
	text-align: center;
	vertical-align: text-top;
}

.btn-custom {
	color: #3E6494;
	background-color: #fff;
	border-color: #3E6494;
	border-radius: 0.05rem;
}

.form-custom {
	height: 34px;
}
.input-group-custom {
	display: inline-flex;
	width: 18%;
}
.btn-write {
	display: inline-block;
	width: 36%;
	text-align: right;
}

.btn-light-custom {
	background: #9F9F9F; 
	border-color: #9F9F9F; 
	color: #fff;
}
.btn-light-custom:hover {
	background: #919191; 
	border-color: #919191; 
	color: #fff;
}

.badge-writer-custom {
	border: 1px solid #ff5e5e;
    color: #ff5e5e;
    font-weight: bold;
    font-size: 0.46rem;
    padding: 0.45em 0.45em;
    vertical-align: bottom;
}

.CommentWriter {
    margin: 15px 0 29px;
    padding: 16px 10px 10px 18px;
    border: 1.5px solid rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    box-sizing: border-box;
    background: #fff;
}
.CommentWriter .comment_inbox {
    position: relative;
    margin-bottom: 10px;
}
.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}
.CommentWriter .comment_inbox_name {
    display: block;
    margin-bottom: 10px;
}
.CommentWriter .comment_attach {
    position: relative;
}
.CommentWriter .attach_box {
    float: left;
    padding-top: 5px;
}
.CommentWriter .register_box {
    float: right;
}
.CommentWriter .register_box .button {
    display: inline-block;
    min-width: 46px;
    height: 34px;
    line-height: 36px;
    font-size: 13px;
    color: #b7b7b7;
    border-radius: 6px;
    box-sizing: border-box;
    font-weight: 700;
    text-align: center;
    vertical-align: top;
}
.CommentWriter .attach_box {
    float: left;
    padding-top: 10px;
}
.CommentWriter .attach_box .button_file {
    overflow: hidden;
    display: inline-block;
    margin-top: 1px;
    margin-right: 16px;
    cursor: pointer;
    vertical-align: top;
}
.CommentWriter .comment_attach:after {
    content: "";
    display: block;
    clear: both;
}

.textarea_editor {
    min-height: 220px;
}

/* 업무관리 */
.taskEvent-red::before {
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #FE2E2E;
    margin-right: 0.9rem;
    position: relative;
    top: 2px;
}
.taskEvent-orange::before {
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #FE9A2E;
    margin-right: 0.9rem;
    position: relative;
    top: 2px;
}
.taskEvent-yellow::before {
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #F4FA58;
    margin-right: 0.9rem;
    position: relative;
    top: 2px;
}
.taskEvent-lightGreen::before {
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #C8FE2E;
    margin-right: 0.9rem;
    position: relative;
    top: 2px;
}
.taskEvent-green::before {
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #2EFE2E;
    margin-right: 0.9rem;
    position: relative;
    top: 2px;
}
.taskEvent-lightBlue::before {
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #81F7F3;
    margin-right: 0.9rem;
    position: relative;
    top: 2px;
}
.taskEvent-blue::before {
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #2E2EFE;
    margin-right: 0.9rem;
    position: relative;
    top: 2px;
}
.taskEvent-purple::before {
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #9A2EFE;
    margin-right: 0.9rem;
    position: relative;
    top: 2px;
}
.taskEvent-pink::before {
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #FE2E9A;
    margin-right: 0.9rem;
    position: relative;
    top: 2px;
}

.taskTable td {
	padding-left: 0px;
}
.taskTable td:nth-child(3) {
	padding-left: 30px;
}

.btn-detail {
	color: #464a53;
    /* color: #f8f9fa; */
    background-color: transparent;
    background-image: none;
    border-color: #f8f9fa;
}

.btn-detail:active, .btn-detail:hover {
    background: #919191;
    color: #fff;
    border-color: #919191;
}

.dateSelectable::before {
  content: attr(data-placeholder);
  width: 100%;
}
.dateSelectable:focus::before,
.dateSelectable:valid::before {
  display: none;
}

/*pagination*/
.page-link.selected {
	/* z-index: 1; */
    color: #fff;
    background-color: #2F588B;
    border-color: #2F588B;
}