@charset "UTF-8";

.alertMail {
	position: absolute;
    width: 250px;
    top: 80px;
    right: -220px;
    background: #598123;
	padding: 0;
    margin: 0;
    border-top: 1px solid #cccccc;
    z-index : 1;
}

.alertMail .thumbnail {
  margin-left: 5px;
  margin-bottom: 10px;
  display: inline-block;
  background: #e0e0e0;
  width: 50px;
  color: var(--white);
  line-height: 50px;
  text-align: center;
  text-decoration: none;
}

.loginin{
	height: 13px;
    width: 13px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    border: 3px solid #fff;
    bottom: 0.4rem;
    right: 0rem;
    padding: 0;
    top: auto;
    left: auto;
    z-index: 2;
}

.logined{
    	background-image: linear-gradient(230deg, #07ed07, #07ed07);
	}
	.logout{
		background-image: linear-gradient(230deg, #a0a0a0, #a0a0a0);
	}
.alertMail .content {
	display: inline-block;
  margin-left: 6px;
  vertical-align: top;
  line-height: 1;
}

.alertMail .content h3{
	display: block;
  width: 100%;
  margin-bottom: 5px;
  color: #808080;
}

.alertMail .content .preview {
  display: block;
  width: 100%;
  max-width: 200px;
  margin-bottom: 5px;
  color: #333333;
  font-size: 12px;
}

#totalAlarm{
    width: 320px;
    background: white;
    position: fixed;
    top: 358px;
    right: -1px;
}

.bg-read {
	background-color: #ddd !important;
}