@charset "UTF-8";

#external-events [data-class="bg-primary"]::before {
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #593bdb;
    margin-right: 0.9rem;
    position: relative;
    top: 2px;
}
#external-events [data-class="bg-success"]::before {
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #7ED321;
    margin-right: 0.9rem;
    position: relative;
    top: 2px;
}
#external-events [data-class="bg-warning"]::before {
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #FFAA16;
    margin-right: 0.9rem;
    position: relative;
    top: 2px;
}
#external-events [data-class="bg-dark"]::before {
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #454545;
    margin-right: 0.9rem;
    position: relative;
    top: 2px;
}
/* 일정 목록 */
.tdl-holder-custom li {
    background-color: transparent;
    border-bottom: 1px solid #f3f3f3;
    list-style: none none;
    margin: 0;
    padding: 0;
}

/* .tdl-holder-custom label {
    cursor: pointer;
    display: block;
    line-height: 52px;
    padding-left: 0;
    position: relative;
    margin: 0 !important;
    color: #464a53;
} */

.tdl-holder-custom .labelCustom {
    /* cursor: pointer; */
    display: block;
    line-height: 52px;
    padding-left: 0;
    position: relative;
    margin: 0 !important;
    color: #464a53;
}

.tdl-holder-custom input[type=checkbox] {
    cursor: pointer;
    opacity: 0;
    position: absolute;
}

.tdl-holder-custom input[type=checkbox] + i {
    background-color: #ddd;
    display: block;
    height: 20px;
    position: absolute;
    top: 15px;
    width: 20px;
    z-index: 1;
}

.tdl-holder-custom input[type=checkbox]:checked + i::after {
    content: "\f00c";
    font-family: 'fontAwesome';
    display: block;
    left: 1px;
    position: absolute;
    top: -17px;
    z-index: 2;
    color: #162336;
}

/* .tdl-holder-custom input[type=checkbox]:checked ~ span {
    text-decoration: line-through;
    position: relative;
} */
.tdl-holder-custom input[type=checkbox]:checked + label + span {
    text-decoration: line-through;
    position: relative;
}

.tdl-holder-custom li span {
    margin-left: 35px;
    font-weight: 500;
    vertical-align: middle;
    -webkit-transition: all .2s linear;
    /* -moz-transition: all .2s linear;
    -o-transition: all .2s linear; */
    transition: all 0.2s linear;
    
    cursor:pointer;
}

/* .tdl-holder-custom label a {
    color: #464a53;
    line-height: normal;
    height: 100%;
    text-align: center;
    text-decoration: none;
    width: 50px;
    transition: all 0.2s linear;
    padding: 18px 0px;
    font-size: 18px;
    display: flex;
    position: absolute;
    right: 0;
    display: inline-block;
} */
.tdl-holder-custom .labelCustom a {
    color: #464a53;
    line-height: normal;
    height: 100%;
    text-align: center;
    text-decoration: none;
    width: 50px;
    transition: all 0.2s linear;
    padding: 18px 0px;
    font-size: 18px;
    display: flex;
    position: absolute;
    right: 0;
    display: inline-block;
}

[class^="ti-"], [class*=" ti-"] {
    font-family: 'themify';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
    cursor: pointer;
}

.ti-trash:before {
    content: "\e605";
}
/* 일정 달력 */
a.fc-day-grid-event.fc-h-event.fc-event.fc-start.fc-end.bg-custom.fc-draggable {
    background-color: #2f588b !important;
}
a.fc-day-grid-event.fc-h-event.fc-event.fc-start.fc-end.bg-red.fc-draggable {
    background-color: #ffcfd2 !important;
}
a.fc-day-grid-event.fc-h-event.fc-event.fc-start.fc-end.bg-orange.fc-draggable {
    background-color: #fde4cf !important;
}
a.fc-day-grid-event.fc-h-event.fc-event.fc-start.fc-end.bg-yellow.fc-draggable {
    background-color: #fbf8cc !important;
}
a.fc-day-grid-event.fc-h-event.fc-event.fc-start.fc-end.bg-lightGreen.fc-draggable {
    background-color: #b9fbc0 !important;
}
a.fc-day-grid-event.fc-h-event.fc-event.fc-start.fc-end.bg-green.fc-draggable {
    background-color: #98f5e1 !important;
}
a.fc-day-grid-event.fc-h-event.fc-event.fc-start.fc-end.bg-lightBlue.fc-draggable {
    background-color: #8eecf5 !important;
}
a.fc-day-grid-event.fc-h-event.fc-event.fc-start.fc-end.bg-blue.fc-draggable {
    background-color: #90dbf4 !important;
}
a.fc-day-grid-event.fc-h-event.fc-event.fc-start.fc-end.bg-purple.fc-draggable {
    background-color: #cfbaf0 !important;
}
a.fc-day-grid-event.fc-h-event.fc-event.fc-start.fc-end.bg-pink.fc-draggable {
    background-color: #f1c0e8 !important;
}
a.fc-day-grid-event.fc-h-event.fc-event.fc-start.fc-end.fc-draggable {
	color: #76838f;
}


.fc-toolbar {
    margin-top: 0.9375rem;
}
.fc th, .fc-basic-view .fc-day-top .fc-week-number, .fc-basic-view td.fc-week-number, .fc-icon, .fc-toolbar {
    text-align: center;
}

.profile-photo {
    width: 160px;
    height: 160px;
    margin: 0 auto 15px;
    position: relative;
}
.contact-directory-box .contact-avatar span img, .profile-photo .avatar-photo, .profile-photo .edit-avatar {
    border-radius: 100%;
}
.profile-photo .edit-avatar {
    position: absolute;
    right: -15px;
    top: 0;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    text-align: center;
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,.4);
    box-shadow: 0 2px 4px rgba(0,0,0,.4);
}
img {
    border: 0;
    vertical-align: top;
    max-width: 100%;
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
}

.profile-setting .profile-edit-list {
    padding: 5px 0;
    margin: 0;
}

.pricing-card-style2, .profile-setting .profile-edit-list>li {
    padding: 20px;
}